[submodule "discovery-server"]
	path = discovery-server
	url = https://github.com/Thomas-PEYROT/discovery-server.git
[submodule "discovery-client"]
	path = discovery-client
	url = https://github.com/Thomas-PEYROT/discovery-client.git
[submodule "microservice-a"]
	path = microservice-a
	url = https://github.com/Thomas-PEYROT/microservice-a.git
[submodule "gateway"]
	path = gateway
	url = https://github.com/Thomas-PEYROT/gateway.git
[submodule "python-microservice"]
	path = python-microservice
	url = https://github.com/Thomas-PEYROT/python-microservice.git
